In [4]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

# Call the function 
say_hello()

Hello!

In [7]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.

def say_something(something):
    print(something)
    
say_something("Markeia is killing the gmae.")

Markeia is killing the gmae.

In [8]:
Markeia_says = "Never let the fear of striking out keep you from playing the game."
say_something(Markeia_says)

Never let the fear of striking out keep you from playing the game.

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
my_grades

['B', 'C', 'B', 'D']

In [13]:
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [15]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [17]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [18]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [19]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [20]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined